
* {
	margin: 0;
	padding: 0;
}

/*homepage*/
.content {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}

.box-content {

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding-bottom: 0%;
	/* display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
  flex-direction: column; */
}

.firstHalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.centered-title {
  font-size: 3rem;
  color: #5E2D91;
}

.centered-description {
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 2rem;
  color: #5E2D91;
}

/*click button on home page*/
.btn {
  margin: 1rem .2rem;
}

/*homepage cards*/
.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  /*margin-bottom: 5rem;*/
}

.flex-container {
  display: flex;
  flex-direction: row; /* Ensure it's set to row to have items side by side */
  justify-content: space-between; /* Adjusts the spacing between the items */
  align-items: start; /* Aligns items to the top of the container */
  width: 100%; /* Use the full available width */
}

.card-container, .input-area {
  flex: 1; /* This will allow each section to take up equal space */
  padding: 2px; /* Adds some padding inside each container for spacing */
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column;  
  }
}

.check-button{
    font-family: "Open Sans", sans-serif;
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .check-button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  .check-button:hover{
    background-color:#CBC3E3;
  }
  
  @media (min-width: 768px) {
    .check-button {
      padding: 0.25em 0.75em;
    }
  }

  .clear-Button{
    margin-left: 10px;
  }

  .checkclear-container {
    display: flex;
    gap: 10px; /* Creates space between any child elements */
  }

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(255, 255, 255); /* white background */
  padding: 20px;
  border-radius: 40px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft shadow */
  margin: 20px; /* Spacing between cards and other elements */
  width: 400px; /* Adjust width of the card */
  height: 300px /* Limits card size, increase if you want larger cards */
}

.card-content {
  flex: 1; /* Fill the remaining space */
  position: relative; /* This is necessary if you're using absolute positioning for children */
  padding-bottom: 70px; 
}

.card-link-button {
  padding: 10px 20px; /*border*/
  background-color: #5E2D91; /* Default background color set to orange */
  text-decoration: none;
  border-radius: 30px; /* Fully rounded edges for button */
  position: absolute;
  display: flex;
  border: 2px solid transparent; /* Transparent border to maintain the layout */
  margin-top: 1rem;
  margin-left: 7rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/*card text*/
.card-heading {
  color: #5E2D91;
  line-height: 1.8;
}

.card-link {
  color: white;
	font-size: 18px;
}

.card-link:hover {
	font-size: 18px;
  text-decoration: underline;
}
/*end of card text*/
/*end of homepage cards*/
/*end of homepage*/


/*detect scam*/
/* Added styles for User Guide */
.info-cardx {
  padding: 20px;
	border-radius: 10px;
	width: 400px;
  height: auto;
	background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: left; /* Changed from center to left */
	margin-top: 2rem;
}

.card-contentx {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.95;
	/*margin-left: 10px; /* Added left margin for better alignment */
}

.info-cardx h3 {
	margin-bottom: 10px;
  text-align: center;
}

.search-tool {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-top: 5rem;
  /* margin-bottom: 5rem; */
  text-align: center;
}

.centered-text {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: black;
  line-height: 2;
  text-align: center;

  /*margin-bottom: 2rem;*/
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the box horizontally */
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.search-box input[type="text"] {
  height: 150px;
  width: 600px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.searchButton {  
  padding: 12px 32px; /*border size*/
  border-radius: 30px;
  background: #5E2D91;
  border: 1px solid #5E2D91;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.searchButton:hover {  
  /*background: rgba(94,45,145, 0.7);*/
  background: #4a226a;
  border: 1px solid #4a226a;
}

.clearButton {
  margin-left: 10px;   
  padding: 12px 32px; /*border size*/
  border-radius: 30px;
  background: #5E2D91;
  border: 1px solid #5E2D91;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
  
.clearButton:hover {  
    background: rgba(94,45,145, 0.7);
}

@media (max-width: 768px) {
  .button, .check-button, .clear-Button {
      width: 100%; /* Full width buttons on smaller screens */
      margin-bottom: 10px;
  }
}

.result-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}



.result-section1 {
  font-family: "Open Sans", sans-serif;
  width: 50%;
  max-width: 90%; /* Limit maximum width to ensure it doesn't get too wide */
  margin: 20px auto; /* Center it horizontally and add vertical spacing */
  padding: 15px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  align-items: center; 
  position: relative;
  justify-content: center; 
  text-decoration: none;
  color: #000;
  background-color: white;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05); /* Single layer, more blur, lighter opacity */

}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-10px);
  }
  60% {
      transform: translateY(-5px);
  }
}

.jumping-icon {
  display: inline-block;
  animation: jump 1s infinite;
}


.search-results {
  width: 80%; /* Adjusts the width of the results container */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds subtle shadow for better visibility */
  background: #fff; /* Optional: Sets a background color for contrast */
  border-radius: 8px; /* Optional: Rounds the corners */
}

/* Result text
.search-results {
  padding: 20px;
  background: #f9f9f9; 
  border: 2px solid #dcdcdc; 
  border-radius: 4px; 
  margin-top: 10px;
  margin-bottom: 50px;
  height: 60px;
  width: 300px;
  text-align: center;
} */

.search-results:empty {
  display: none;
}

.message-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* .result-actions{
  padding-top: 30px;
} */

.result-actions{

    width: 100%; /* Ensure the div takes the full width of its parent */
    display: flex;
    justify-content: space-between; /* Aligns children at both ends */
    padding-top: 30px; /* Keeps existing top padding */
    padding-bottom: 20px; /* Adds bottom padding to the container */
  
}

.learn-more, .homeButton {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all .2s;
  padding: 10px 20px; /* Adjust padding if necessary */
  border-radius: 100px;
  background: white;
  border: 1px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 10px 20px;
  min-width: 120px; /* Ensure the button is not too narrow */
  text-align: center;
}
.homeButton:first-child {
  margin-left: 10px;
  margin-right: 10px; /* Ensures space between buttons if next to each other */
}
.learn-more:last-child {
  margin-right: 10px;
}

.learn-more:hover {
  background: #c4e201; /* Fixed selector */
}
.homeButton:hover{
  background : #CBC3E3;
}

.learn-more svg, .homeButton svg {
  margin-right: 5px; /* Adjust this value to reduce the gap */
  transition: transform .3s ease-in-out;
}

.learn-more:hover svg, .homeButton:hover svg {
  transform: translateX(5px);
}

.learn-more:active, .homeButton:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .centered-text {
      font-size: 1.5rem; /* Smaller text on tablets */
  }
}

@media (max-width: 480px) {
  .centered-text {
      font-size: 1.2rem; /* Even smaller on phones */
  }
}
.disclaimer {
  display: flex;
  align-items: center;
  font-family: Helvetica, "sans-serif";
  font-size: 16px;
  text-align: justify;
  padding: 0.7em 1.4em; /* Uniform padding */
  color: black;
  background: white;
  border: none;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 20em;
  line-height: 1.5; /* Increased line spacing for better readability */
}

.disclaimer svg {
  margin-right: 6px;
}


.disclaimer:active {
  box-shadow: 0 0.3em 1em -0.5em black;
}

@media (max-width: 768px) {
  .disclaimer {
    font-size: 14px; /* Smaller font size on tablets and below */
    padding: 10px 20px; /* Slightly smaller padding */
  }
}

@media (max-width: 480px) {
  .disclaimer {
    font-size: 12px; /* Even smaller font size on mobile devices */
    padding: 8px 15px; /* Reduced padding to fit smaller screens */
  }
}



@media (max-width: 768px) {
  .result-actions {
      flex-direction: column;
      align-items: center;
  }

  .homeButton, .learn-more {
      width: 100%; /* Full width for easier access */
      margin-bottom: 10px;
  }
}

/*buttons*/
/* .learn-more,.homeButton {
  padding: 12px 40px;
  font-size: 1rem; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  background-color: #5E2D91; 
  color: white; 
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid transparent;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
} */

/* .learn-more:hover, .homeButton:hover {
  text-decoration: underline;
} */

/*media*/
@media (max-width: 768px) {
  .tracker-text {
    font-size: 5vw; 
  }

  input[type="text"],
  .searchButton {
    padding: 0.5em; 
  }

  .search-results,
  .result-actions button {
    max-width: none; 
  }

  .result-actions {
    flex-direction: column; 
  }
}

@media (max-width: 480px) {
  .tracker-text {
    font-size: 6vw; 
  }

  .search-results {
    margin-top: -50px; 
  }
}
/*end of media*/
/*end of detect scam*/



/*help and support*/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
  flex-direction: column;
	position: sticky;
	top: 1;
  width: 100%;
  height: 150px;
  padding: 1rem;
  z-index: 10;
  background-color: rgb(94, 45, 145, 0.8);
}

.text-header {
  color: white;
  line-height: 1.8;
}

.section {
	height: auto;
	display: flex;
	align-items: center;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: 0 9rem;
	height: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondhalf {
	width: 30%;
}

/*heading*/
.text-big {
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
	font-size: 30px;
  line-height: 1.6;
}

/*text content*/
.text-small {
	font-size: 18px;
  line-height: 2.5rem;
}

.text-link {
	font-size: 18px;
}

.text-link:hover {
	font-size: 18px;
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
  color: #000;
  font-size: 19px;
  line-height: 1.8;
  margin-top: 2rem;
}

.text-bullet {
  font-weight: 500;
  color: #000;
  font-size: 20px;
  line-height: 1.8;
  margin-left: 2rem;
}

.text-bullet:hover {
  color: grey;
  text-decoration: underline;
}

.indented-list {
  margin-left: 3rem;
}

.statistics-container {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statistics-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 16px;
}

.counter-graph {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistic {
  text-align: center;
  margin: 10px 0;
}

.statistic .label {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 5px;
}

.statistic .value {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

/* You can adjust the media query breakpoints and styles according to your layout needs */
@media (max-width: 768px) {
  .counter-graph {
    flex-direction: column;
  }

  .statistic {
    margin: 20px 0;
  }
}

/*buttons in help and support page*/
.button {
  background-color: #5E2D91; /* Button color */
  color: #fff; /* Text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Padding inside the button */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

.button:hover {
  text-decoration: underline; 
}
/*end of help and support*/


/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 20px 10px;
  bottom: 0;
  position: static;
  width: 100%;
}

.text-footer {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #fff;
  margin-right: 10px;
}
/*end of footer*/




/*quiz*/
.username-input {
  display: flex;
  width: 100%;
  max-width: 250px; /* Adjust as needed */
  margin: 0 auto; /* Center the box horizontally */
  /*margin-bottom: 1rem;*/
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;
}

.username-input input[type="text"] {
  height: 50px;
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: left;
}

.quiz-section {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 700px;
  height: 450px;
  border-radius: 20px;
  margin: 50px auto; /* Center the box horizontally */
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft shadow */
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 240px;
  border-radius: 20px;
  margin: 50px auto; /* Center the box horizontally */
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft shadow */
}

.score-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 15px;
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.question-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

.explanation-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.question-section .answer-section button {
  margin: 5px;
  cursor: pointer;
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Padding inside the button */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
}

.question-section .answer-section button:hover {
  text-decoration: underline;
}

.question-section .answer-section button.is-scam {
  background-color: red;
  color: white;
}

.question-section .answer-section button.is-not-scam {
  background-color: green;
  color: white;
}

.explanation {
  font-family: 'Plus Jakarta Sans';
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.explanation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-section button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5E2D91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.explanation-section button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5E2D91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.quiz-end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.exit-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5E2D91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.exit-button:hover {
  text-decoration: underline;
}

.quiz-section button:hover {
  /*background-color: #4a226a;*/
  text-decoration: underline;
}

.explanation-section button:hover {
  /*background-color: #4a226a;*/
  text-decoration: underline;
}

.search-box textarea {
  width: 100%; /* Ensures the textarea takes the full width of its container */
  height: 300px; /* Adjust height to make the textarea larger */
  font-size: 18px; /* Increases the font size for better readability */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px; /* Adds space inside the border, between the border and text */
  box-sizing: border-box; /* Includes padding and border in the width and height */

}
.search-box textarea:focus {
  border-color: black ;/* Darker blue for better focus visibility */
  outline: none; /* Removes the default focus outline */
  
}

.consent-popup {
  position: absolute;
  bottom: 100%; /* Position above the result section */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Increased width to make the popup larger */
  max-width: 600px; /* Set a maximum width to ensure it doesn't get too wide on large screens */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px black;
  text-align: justify; /* Justify the text inside the popup */
  z-index: 50; /* High z-index to ensure visibility */
}
.consent-popup p {
  margin-bottom: 20px; /* Add bottom margin to create space between text and buttons */
}

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 20px; /* Adjusted padding to reduce height */
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-right: 10px; /* Adds space between buttons */
}
.button-68:last-child {
  margin-right: 0; /* Remove margin from the last button (No button) */
}
/* Hover effects for both buttons */
.button-68:hover {
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-yes {
  background-color: #27ae60; /* Green background */
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
}

.button-yes:hover {
  background-color: #1e8449; /* Darker green on hover */
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.button-no {
  background-color: #e74c3c; /* Red background */
  box-shadow: rgba(231, 76, 60, .15) 0 4px 9px;
}

.button-no:hover {
  background-color: #c0392b; /* Darker red on hover */
  box-shadow: rgba(231, 76, 60, .2) 0 6px 12px;
}
.quiz-text {
  font-family: 'Plus Jakarta Sans';
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.question-count {
  font-family: 'Plus Jakarta Sans';
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}
/*end of quiz*/





/* Content section styles */
.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* Text content styles */
.text-content {
  width: 450px;
  padding: 20px;
  margin: auto;
  text-align: justify;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Allow long words to break */
  overflow-wrap: break-word; /* Ensure words break at appropriate places */
}

.home-text {
  font-size: 18px;
  line-height: 2rem;
}

/* Image container styles */
.image-container {
  margin: 150px auto;
}

/* Image styles */
.image-container img {
  max-width: 100%;
  max-height: 350px;
}