* {
	margin: 0;
	padding: 0;
}

/*homepage*/
.content {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}

.box-content {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
}

.firstHalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.centered-title {
  font-size: 3rem;
  color: #5E2D91;
}

.centered-description {
  font-size: 2rem;
  font-weight: 350;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #5E2D91;
}

/*click button on home page*/
.btn {
  margin: 1rem .2rem;
}

/*homepage cards*/
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*margin-bottom: 5rem;*/
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(250, 250, 250); /* white background */
  padding: 20px;
  border-radius: 40px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft shadow */
  margin: 20px; /* Spacing between cards and other elements */
  width: 400px; /* Adjust width of the card */
  height: 200px /* Limits card size, increase if you want larger cards */
}

.card-content {
  flex: 1; /* Fill the remaining space */
  position: relative; /* This is necessary if you're using absolute positioning for children */
  padding-bottom: 70px; 
}

.card-link-button {
  padding: 10px 20px; /*border*/
  background-color: #5E2D91; /* Default background color set to orange */
  text-decoration: none;
  border-radius: 20px; /* Fully rounded edges for button */
  position: absolute;
  display: flex;
  border: 2px solid transparent; /* Transparent border to maintain the layout */
  margin-top: 1rem;
  margin-left: 7rem;
}

/*card text*/
.card-heading {
  color: #5E2D91;
  line-height: 1.8;
}

.card-link {
  color: white;
	font-size: 18px;
}

.card-link:hover {
	font-size: 18px;
  text-decoration: underline;
}
/*end of card text*/
/*end of homepage cards*/
/*end of homepage*/


/*detect scam*/
.search-tool {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.centered-text {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  line-height: 2;
  /*margin-bottom: 2rem;*/
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center the box horizontally */
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.search-box input[type="text"] {
  height: 150px;
  width: 600px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.searchButton {  
  padding: 12px 32px; /*border size*/
  border-radius: 20px;
  background: #5E2D91;
  border: 1px solid #5E2D91;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.searchButton:hover {  
  background: rgba(94,45,145, 0.7);
}

.result-section{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

/* Result text*/
.search-results {
  padding: 20px;
  background: #f9f9f9; 
  border: 2px solid #dcdcdc; 
  border-radius: 4px; 
  margin-top: 10px;
  margin-bottom: 50px;
  height: 150px;
  width: 300px;
  text-align: center;
}

.search-results:empty {
  display: none;
}

.message-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.result-actions{
  padding-top: 30px;
}

.report-scam,.learn-more,.homeButton {
  padding: 12px 40px;
  font-size: 1rem; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  background-color: #5E2D91; 
  color: white; 
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid transparent;
  margin-bottom: 20px;
}

.report-scam:hover, .learn-more:hover, .homeButton:hover {
  text-decoration: underline;
}

/*media*/
@media (max-width: 768px) {
  .tracker-text {
    font-size: 5vw; 
  }

  input[type="text"],
  .searchButton {
    padding: 0.5em; 
  }

  .search-results,
  .result-actions button {
    max-width: none; 
  }

  .result-actions {
    flex-direction: column; 
  }
}

@media (max-width: 480px) {
  .tracker-text {
    font-size: 6vw; 
  }

  .search-results {
    margin-top: -50px; 
  }
}
/*end of media*/
/*end of detect scam*/



/*help and support*/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
  flex-direction: column;
	position: sticky;
	top: 1;
  width: 100%;
  height: 150px;
  padding: 1rem;
  z-index: 10;
  background-color: rgb(94, 45, 145, 0.8);
}

.text-header {
  color: white;
  line-height: 1.8;
}

.section {
	height: auto;
	display: flex;
	align-items: center;
	background-color: rgb(250, 250, 250);
	justify-content: space-between;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: 0 9rem;
	height: 80%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondhalf {
	width: 30%;
}

/*heading*/
.text-big {
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;
	font-size: 30px;
  line-height: 1.6;
}

/*text content*/
.text-small {
	font-size: 18px;
  line-height: 1.8;
}

.text-link {
	font-size: 18px;
}

.text-link:hover {
	font-size: 18px;
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
  color: #000;
  font-size: 19px;
  line-height: 1.8;
  margin-top: 2rem;
}

.text-bullet {
  font-weight: 500;
  color: #000;
  font-size: 20px;
  line-height: 1.8;
  margin-left: 2rem;
}

.text-bullet:hover {
  color: grey;
  text-decoration: underline;
}
/*end of help and support*/
